header {
  min-height: 100vh;
  position: relative;
}

nav img {
  width: 250px;
}

nav {
  align-items: center;
  width:100%;
  display: flex;
  position:fixed;
  top:0;
  z-index:999;
  background-color:#4C5760;
}

.left-links {
  flex: 1 1 200px;
}

.links {
  display: inline-block;
  justify-content: space-between;
  transition:0.5s;
  color:#D7CEB2;
}

.links:hover {
  color: #A59E8C;
}

.cta {
  padding:4px;
  border-radius:50px;
  padding:auto;
  border: none;
  background-color: rgba(0, 136, 169, 1);
  cursor:pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color:rgb(2, 107, 133);
}

.rental-card {
  display:grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: 100px;
}

.rental-card .description-box {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
}

.rental-card .price-box {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:2;
}

.rental-card .img-box {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
}

.destination-box {
  grid-column-start:2;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:3;

  align-items:center;
}