header {
  min-height: 100vh;
  position: relative;
}

nav img {
  width: 300px;
}

nav {
  align-items: center;
  display: flex;
}

.nav-links {
  flex: 1;
}

.nav-links ul li {
  display: inline-block;
  justify-content: left;
}

.nav-links li {
  justify-content: right;
}